<div class="top-header-currentPage">
    Home >> {{article.category}} >> <span>{{article.title}}</span>
</div>

<div class="jumbotron main-jumbotron__section">
    <hr class="section-separator">

    <h2>{{article.title}}</h2>
    <p class="lead">Posteed by admin on {{article.createdAt}} in {{article.category}} category</p>

    <hr class="section-separator">
</div>

<div class="main-content container">
    <div class="row">
        <div class="col-md-8 col-sm-8 article">

            <h4 class="article__title">Posteed by admin on {{article.createdAt}} in {{article.category}} category| <strong>{{article.comments.length}} Comments</strong></h4>
            <div class="article__container">
                <img src="{{article.image-small}}" class="pull-left img-responsive  img-thumbnail article__img">
                <article class="article__text">
                    <p>
                        {{article.fullText}}
                    </p>
                </article>
            </div>

            <div class="article comments">
                <h1 class="comments__counter">{{article.comments.length}} Comments</h1>

                <div class="comments__container">
                    {{#article.comments}} {{#if @first}}
                    <div>

                        <img src="images/profile-pic.png" alt="post img" class="pull-left img-responsive img-thumbnail">
                        <p class="comments__date pull-right">{{date}}</p>
                        <h3 class=" comments__author media-heading">{{name}}</h3>
                        <article class="article__text">
                            <p>
                                {{message}}

                            </p>
                        </article>
                        <a class="btn btn-default btn-sm pull-right comments__btn">Read More</a>
                    </div>
                </div>
                {{else}}
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
                            <div class="comments__container">
                                <div>

                                    <img src="images/profile-pic.png" alt="post img" class="pull-left img-responsive img-thumbnail">
                                    <p class="comments__date pull-right">{{date}}</p>
                                    <h3 class="comments__author media-heading">{{name}}</h3>
                                    
                                    <article class="article__text">
                                        <p>
                                            {{message}}
                                        </p>
                                    </article>
                                    <a class="btn btn-default btn-sm pull-right comments__btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}} {{/article.comments}}

            </div>
            <div class="col-md-8 article comments">
                <h1 class="comments__heading">Leave a Reply</h1>
                <div class="row">
                    <form role="form" id="contact-form" class="contact-form" action="#/tennisNews/comments" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control leave-comment" name="name" autocomplete="off" id="name" placeholder="Name">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control leave-comment" name="email" autocomplete="off" id="email" placeholder="E-mail">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control textarea leave-comment" rows="3" name="message" id="message" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-default btn-sm pull-right comments__btn">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-md-4 col-sm-4 pull-right pull-content-right">
            <div class="right-panel">
                <div class="right-panel__container">
                    <span>Latest Posts</span>

                    <li>How to get to Machu Picchu</li>
                    <li>Handling the heights </li>
                    <li>Chewing CoCa leaves</li>
                    <li>Lots of money to spend here</li>
                    <li>Leave worries home </li>
                    <li>And always return to PEru</li>
                </div>
            </div>
            <div class="right-panel">
                <div class="right-panel__container">
                    <span>Latest Posts</span>

                    <li>How to get to Machu Picchu</li>
                    <li>Handling the heights </li>
                    <li>Chewing CoCa leaves</li>
                    <li>Lots of money to spend here</li>
                    <li>Leave worries home </li>
                    <li>And always return to PEru</li>
                </div>
            </div>
            <div class="right-panel">
                <div class="right-panel__container">
                    <span>Latest Posts</span>

                    <li>How to get to Machu Picchu</li>
                    <li>Handling the heights </li>
                    <li>Chewing CoCa leaves</li>
                    <li>Lots of money to spend here</li>
                    <li>Leave worries home </li>
                    <li>And always return to PEru</li>
                </div>
            </div>
        </div>
    </div>
</div>