<header class="secondary-header">
    <nav class="secondary-header__nav">
        <li><a href="#" class="first-el">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Page Templates</a></li>
        <li><a href="#">Shortcodes</a></li>
        <li><a href="#">Blog</a></li>
        {{!--
        <li><a href="#">Page Templates</a></li>--}}
        <li><a href="#">Shortcodes</a></li>
        <li><a href="#">Blog</a></li>
    </nav>
</header>

<!-- Start of CArousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel slide" data-interval="5000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Carousel pics -->
    <div class="carousel-inner">

        {{#tennisNews.result}} {{#if @first}}
        <div class="item active">
            <a href="#/tennisNews/{{id}}">
            <picture>              
                    <source srcset={{image}} media="(min-width: 501px)" class="carousel-img">
                    <img src={{image-small}} alt="" class="carousel-img">
            </picture>
            </a>
            <!-- CArousel main window caption -->
            <div class="carousel-caption">
                <h2>{{title}}</h2>
                <p>{{summary}}</p>
                <a href="#/tennisNews/{{id}}" class="btn carousel-caption-btn">Read More</a>
            </div>
        </div>
        {{else}}
        <div class="item">
            <a href="#/tennisNews/{{id}}">
                <picture>
                    <source srcset={{image}} media="(min-width: 501px)" class="carousel-img">
                    <img src={{image-small}} alt="" class="carousel-img">
                </picture>
            </a>
            <div class="carousel-caption">
                <h2>{{title}}</h2>
                <p>{{summary}}</p>
                <a href="#/tennisNews/{{id}}" class="btn carousel-caption-btn">Read More</a>
            </div>
        </div>
        {{/if}} {{/tennisNews.result}}
    </div>

    <!-- Carousel navigation arrows -->
    <span href="#myCarousel" class="right carousel-control" data-slide="next">
                    <span>
                         <img class="carousel-right-arrow" src="images/carousel-right-arrow.png" />
                    </span>
    </span>
    <span href="#myCarousel" class="left carousel-control" data-slide="prev">
                        <span>
                             <img class="carousel-left-arrow" src="images/carousel-left-arrow.png" />
                        </span>
    </span>
</div>
<!-- End of CArousel -->

<div class="jumbotron main-jumbotron__section">
    <hr class="section-separator">

    <h2>"The ones who have talent are good but the ones who practice are great!"</h2>
    <p class="lead">Hard work beats talent when talent doesn’t work hard.</p>

    <hr class="section-separator">
</div>


<section id="main-content" class="group">
    <div class="previews">
        {{#latestSportNews.result}}
        <article class="preview">
            <h2 class="preview__title">{{title}}</h2>
            <div class="preview__image-container">
                <a href="#/posts/{{key}}" class="preview__anchor">
                    <img src="{{image}}" alt="{{title}}" class="preview__image">
                    <span class="preview__hover-icon"></span>
                </a>
            </div>
            <p class="preview__summary">{{summary}}</p>
        </article>
        {{/latestSportNews.result}}
    </div>
    <div class="blog-media">
        <aside class="blog-p">
            <h4 class="blog-p__title">From The Blog</h4>
            <ul class="blog-p__posts">
                {{#recentPosts.result}}
                <li><a href="{{key}}">{{title}}</a></li>
                {{/recentPosts.result}}
            </ul>
        </aside>
        <aside class="media">
            <h4 class="media__title">Multi-Media Bar</h4>
            <div class="media__bar">
                {{#media.result}}
                <div class="media__img-container">
                    <img src="{{imageUrl}}" alt="{{description}}" class="media__img">
                    <span class="media__hover-icon"></span>
                    <div class="media__description">
                        <p>{{description}}</p>
                        <span class="media__arrow"></span>
                    </div>
                </div>
                {{/media.result}}
                <ul class="media__nav">
                    <li><a href="#" class="media__prev">Prev</a></li>
                    <li><a href="#" class="media__next">Next</a></li>
                </ul>
            </div>
        </aside>
    </div>
</section>